aiohttp==3.9.0
aiosignal==1.3.1
albumentations==1.4.0
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
braceexpand==0.1.7
brotlipy==0.7.0
charset-normalizer==3.2.0
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
clip-vlp @ git+https://github.com/haotian-liu/CLIP_vlp.git@d553ff210386322e6d58d71642e0f81ec1cbda8f
cmake==3.27.5
dataclasses==0.6
distro==1.8.0
docker-pycreds==0.4.0
einops==0.7.0
exceptiongroup==1.2.0
ExifRead-nocycle==3.0.1
fire==0.5.0
fonttools==4.25.0
frozenlist==1.4.0
fsspec==2023.9.1
ftfy==6.1.1
gdown==4.7.1
gitdb==4.0.11
GitPython==3.1.42
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
huggingface-hub==0.17.1
imageio==2.34.0
img2dataset==1.45.0
joblib==1.3.2
lazy_loader==0.3
lightning-utilities==0.9.0
lit==16.0.6
mkl-fft==1.3.6
mkl-service==2.4.0
multidict==6.0.4
munkres==1.1.4
nltk==3.8.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
open-clip-torch==2.24.0
openai==0.28.0
opencv-contrib-python==4.9.0.80
opencv-python-headless==4.8.1.78
pandas==2.0.3
Pillow==9.0.1
ply==3.11
protobuf==3.20.3
pyarrow==15.0.0
pycocoevalcap==1.2
pycocotools==2.0.7
pydantic==2.5.1
pydantic_core==2.14.3
PyQt5-sip==12.11.0
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==19.0.2
qudida==0.0.4
regex==2023.8.8
requests==2.31.0
sacremoses==0.1.1
safetensors==0.3.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.1
sentencepiece==0.1.99
sentry-sdk==1.40.4
setproctitle==1.3.3
sharedmem==0.3.8
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
tenacity==8.2.3
tensorboard-logger==0.1.0
termcolor==2.4.0
threadpoolctl==3.2.0
tifffile==2023.7.10
timm==0.9.7
tokenizers==0.10.3
torch==2.0.1
torchaudio==2.0.2
torchmetrics==1.1.2
torchvision==0.15.2
tqdm==4.66.1
transformers==4.11.3
triton==2.0.0
tzdata==2023.3
vision-datasets==0.2.17
vision-evaluation==0.2.9
wandb==0.16.3
webdataset==0.2.86
yacs==0.1.8
yarl==1.9.3